{% extends "layout.html" %} {% block title %} {{username}}'s {% endblock %}
{%block main %} {% if images|length > 0 %}
<h1 class="image-trade-id">Trade {{trade_id}}</h1>
<div class="images-container">
  {% for image in images%}
  <form action="/delete-images" method="POST">
    <img
      class="screenshots"
      src="https://tj-screenshots.s3.us-west-1.amazonaws.com/{{image}}"
      alt="{{image}}"
    />
    <input type="hidden" value="{{image}}" name="image_id" />
    <input type="hidden" value="{{trade_id}}" name="trade_id" />
    <input type="hidden" value="{{user_id}}" name="user_id" />
    <button type="submit" class="btn btn-secondary delete-button">
      DELETE
    </button>
  </form>
  {% endfor %}
</div>
{% else %}
<h1 class="no-image-header">No images</h1>
{% endif %} {% endblock %}
