{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form class="register-form bg-light form-group" action="/register" method="POST">
    <h1>Register</h1>
    <input type="username" class="form-control" name="username" placeholder="username" required/>
    <input type="password" class="form-control" name="p1" placeholder="password" required/>
    <input type="password" class="form-control" name="p2" placeholder="password" required/>
    <input type="number" class="form-control" name="dollar_amount" placeholder="account size" step="0.01" required/>
    <button class="btn btn-secondary" type="submit">Register</button>
    <p>Have an account? <a href="/login">Login</a></p>
</form>

{% endblock %}