{% extends "layout.html" %} {% block title %} {{username}}'s {% endblock %} {%
block main %}

<style>
  .form-choice {
    width: 100%;
    display: flex;
  }
  .csv,
  .manual {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    flex: 1;
  }

  button > div {
    margin: auto;
    font-size: 3rem;
    background-color: white;
    opacity: 0.9;
    width: 50%;
  }

  .csv-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
  }

  .csv-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  .invisible {
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.5s ease-out;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
    transition: all 0.5s ease-out;
  }
</style>

<div class="form-choice">
  <button
    style="background-image: url('/static/3d.jpg')"
    class="csv"
    type="button"
    onclick="set_csv()"
  >
    <div>Upload CSV</div>
  </button>
  <button
    type="button"
    style="background-image: url('/static/3d.jpg')"
    class="manual"
    onclick="redirect()"
  >
    <div>Manual Entry</div>
  </button>
</div>

<div class="csv-modal invisible">
  <form
    class="csv-input"
    action="/csv-input"
    method="POST"
    enctype="multipart/form-data"
  >
    <h1>Upload .csv or .xlsx file</h1>
    <input type="file" name="csv-file" />
    <button type="submit">Submit</button>
  </form>
  <button onclick="closeCSVModal()">close</button>
</div>

<script>
  const redirect = () => {
    window.location.href = "/new-trade";
  };

  const modal = document.querySelector(".csv-modal");

  const set_csv = (event) => {
    modal.classList.remove("invisible");
    modal.classList.add("visible");
  };

  const closeCSVModal = (event) => {
    modal.classList.add("invisible");
    modal.classList.remove("visible");
  };
</script>
{% endblock %}
