{% extends "layout.html" %}

{% block title %}
    {{username}}'s
{% endblock %}

{% block main %}
<h1 class="picker-header">Select a</h1>
<form class="date-picker form-group" action="/calendar" method="POST">
    <div class="year-picker">
        <label>Year:</label>
        <input type="number" class="form-control" name="year"/>
    </div>
    <h1 class="picker-header">&</h1>
    <div class="month-picker">
        <label>Month:</label>
        <input type="number" class="form-control" name="month"/>
    </div>
    <button class="btn btn-secondary picker-button" type="submit">Submit</button>
</form>
{% endblock %}