{% extends "layout.html" %} {% block title %} {{username}}'s {% endblock %}
{%block main %}
<h1 class="images-header">Add Screenshots</h1>
<form
  class="images-form"
  action="/add-images"
  method="POST"
  enctype="multipart/form-data"
>
  <input type="number" placeholder="Trade ID" name="trade_id" />
  <label class="file-label">
    Choose Image
    <input type="file" class="file-input" name="screenshot" />
  </label>
  <button class="btn btn-secondary" type="submit">Add Image</button>
</form>
{% endblock %}
