{% extends "layout.html" %} {% block title %} {{username}}'s {% endblock %} {%
block main %}
<h1 class="entry-header">Edit Trade #{{data.trade_id}}</h1>
<form class="entry-form form-group" action="/edited" method="POST">
  <div class="side-1">
    <label class="date-open">Date Open</label>
    <input
      type="date"
      class="form-control"
      name="date_open"
      value="{{data.date_open}}"
      required
    />

    <label class="date-close">Date Close</label>
    <input
      type="date"
      class="form-control"
      name="date_close"
      value="{{data.date_close}}"
      required
    />

    <label class="time-open">Time Open</label>
    <input
      type="text"
      class="form-control"
      name="time_open"
      value="{{data.time_open}}"
      required
    />

    <label class="pair-selection">Pair</label>
    <select name="pair_selection" class="form-control" value="{{data.pair}}">
      {% for pair in select_values.pairs %} {% if pair == data.pair %}
      <option selected="selected">{{pair}}</option>
      {% else %}
      <option>{{pair}}</option>
      {% endif %} {% endfor %}
    </select>

    <label class="pos-size">Position Size</label>
    <input
      type="number"
      name="pos_size"
      class="form-control"
      placeholder="Position Size"
      step="0.01"
      value="{{data.pos_size}}"
      required
    />

    <label class="direction">Direction</label>
    <select
      name="direction"
      class="form-control"
      placeholder="Direction"
      value="{{data.direction}}"
    >
      {% for direction in select_values.directions %} {% if direction ==
      data.direction %}
      <option selected="selected">{{direction}}</option>
      {% else %}
      <option>{{direction}}</option>
      {% endif %} {% endfor %}
    </select>
  </div>

  <div class="side-2">
    <label class="enter-price">Enter Price</label>
    <input
      type="number"
      class="form-control"
      name="enter_price"
      placeholder="Entry Price"
      step="0.00001"
      value="{{data.enter_price}}"
      required
    />

    <label class="stop-loss">Stop Loss</label>
    <input
      type="number"
      class="form-control"
      name="stop_loss"
      placeholder="Stop Loss"
      step="0.00001"
      value="{{data.stop_loss}}"
      required
    />

    <label class="take-profit">Take Profit</label>
    <input
      type="number"
      class="form-control"
      name="take_profit"
      placeholder="Take Profit"
      step="0.00001"
      value="{{data.take_profit}}"
      required
    />

    <label class="exit-price">Exit Price</label>
    <input
      type="number"
      class="form-control"
      name="exit_price"
      placeholder="Exit Price"
      step="0.00001"
      value="{{data.exit_price}}"
      required
    />

    <label class="win-loss">Win/Loss</label>
    <select name="win_loss" class="form-control" value="{{data.win_loss}}">
      {% for outcome in select_values.outcomes %} {% if outcome == data.win_loss
      %}
      <option selected="selected">{{outcome}}</option>
      {% else %}
      <option>{{outcome}}</option>
      {% endif %} {% endfor %}
    </select>

    <label class="dollar-amount">Dollar Amount(+/-)</label>
    <input
      type="number"
      class="form-control"
      name="dollar_amount"
      placeholder="Dollars +-"
      step="0.01"
      value="{{data.dollar_amount}}"
      required
    />

    <label class="strategy">Strategy</label>
    <select
      name="strategy"
      class="form-control"
      placeholder="Strategy"
      value="{{data.strategy}}"
    >
      {% for strategy in select_values.strategies %} {% if strategy ==
      data.strategy %}
      <option selected="selected">{{strategy}}</option>
      {% else %}
      <option>{{strategy}}</option>
      {% endif %} {% endfor %}
    </select>
  </div>

  <div class="side-3">
    <label class="entry-type">Entry Type</label>
    <select
      name="entry_type"
      class="form-control"
      placeholder="Entry Type"
      value="{{data.entry_type}}"
    >
      {% for entry_type in select_values.entry_types %} {% if entry_type ==
      data.entry_type %}
      <option selected="selected">{{entry_type}}</option>
      {% else %}
      <option>{{entry_type}}</option>
      {% endif %} {% endfor %}
    </select>

    <label class="session-entry">Session Entry</label>
    <select
      name="session_entry"
      class="form-control"
      placeholder="Session Entry"
      value="{{data.session_entry}}"
    >
      {% for session in select_values.sessions %} {% if session ==
      data.session_entry %}
      <option selected="selected">{{session}}</option>
      {% else %}
      <option>{{session}}</option>
      {% endif %} {% endfor %}
    </select>

    <label class="session-exit">Session Exit</label>
    <select
      name="session_exit"
      class="form-control"
      placeholder="Session Exit"
      value="{{data.session_exit}}"
    >
      {% for session in select_values.sessions %} {% if session ==
      data.session_exit %}
      <option selected="selected">{{session}}</option>
      {% else %}
      <option>{{session}}</option>
      {% endif %} {% endfor %}
    </select>

    <label class="trend">Trend</label>
    <select
      name="trend"
      class="form-control"
      placeholder="Trend"
      value="{{data.trend}}"
    >
      {% for trend in select_values.trends %} {% if trend == data.trend %}
      <option selected="selected">{{trend}}</option>
      {% else %}
      <option>{{trend}}</option>
      {% endif %} {% endfor %}
    </select>

    <label class="day">Day</label>
    <select name="day" class="form-control" value="{{data.day}}">
      {% for day in select_values.days %} {% if day == data.day %}
      <option selected="selected">{{day}}</option>
      {% else %}
      <option>{{day}}</option>
      {% endif %} {% endfor %}
    </select>

    <label class="reason-for-loss">Reason For Loss</label>
    <select
      name="reason_for_loss"
      class="form-control"
      placeholder="Reason For Loss"
      value="{{data.reason_for_loss}}"
    >
      {% for reason in select_values.reasons %} {% if reason ==
      data.reason_for_loss %}
      <option selected="selected">{{reason}}</option>
      {% else %}
      <option>{{reason}}</option>
      {% endif %} {% endfor %}
    </select>
    <input type="hidden" name="trade_id" value="{{data.trade_id}}" />
    <button class="btn new-entry-button" type="submit">Submit</button>
  </div>
</form>
{% endblock %}
