{% extends "layout.html" %} {% block title %} {{username}}'s {% endblock %} {%
block main %}
<h1 class="journal-header">Journal Entries <a href="/new-entry">+</a></h1>

<p class="balance">Account Balance: ${{balance}}</p>
<p class="ratio">Average RRR: 1:{{avg}}</p>

<div class="journal-table-container">
  <div class="journal-table">
    {% for row in journal_data %}
    <div class="trade-card">
      <div class="trade-header">
        <h1 class="trade-title">
          <span class="journal-headers">Date Open:</span><br />
          {{row.date_open}}
        </h1>
        <p><span class="journal-headers">ID:</span> {{row.trade_id}}</p>
      </div>
      <div class="trade-content">
        <div>
          <div class="journal-headers">Date Close:</div>
          {{row.date_close}}
        </div>
        <div>
          <div class="journal-headers">Time Open:</div>
          {{row.time_open}}
        </div>
        <div>
          <div class="journal-headers">Pair:</div>
          {{row.pair}}
        </div>
        <div>
          <div class="journal-headers">Pos. Size:</div>
          {{row.pos_size}}
        </div>
        <div>
          <div class="journal-headers">Direction:</div>
          {{row.direction}}
        </div>
        <div>
          <div class="journal-headers">Enter Price:</div>
          {{row.enter_price}}
        </div>
        <div>
          <div class="journal-headers">SL:</div>
          {{row.stop_loss}}
        </div>
        <div>
          <div class="journal-headers">TP:</div>
          {{row.take_profit}}
        </div>
        <div>
          <div class="journal-headers">Exit Price:</div>
          {{row.exit_price}}
        </div>
        <div>
          <div class="journal-headers">W/L:</div>
          {{row.win_loss}}
        </div>
        <div>
          <div class="journal-headers">$$$:</div>
          {{row.dollar_amount}}
        </div>
        <div>
          <div class="journal-headers">Strategy:</div>
          {{row.strategy}}
        </div>
        <div>
          <div class="journal-headers">Entry Type:</div>
          {{row.entry_type}}
        </div>
        <div>
          <div class="journal-headers">Sess. Entry:</div>
          {{row.session_entry}}
        </div>
        <div>
          <div class="journal-headers">Sess Exit:</div>
          {{row.session_exit}}
        </div>
        <div>
          <div class="journal-headers">Trend:</div>
          {{row.trend}}
        </div>
        <div>
          <div class="journal-headers">Day:</div>
          {{row.day}}
        </div>
        <div>
          <div class="journal-headers">Reason For Loss:</div>
          {{row.reason_for_loss}}
        </div>
        <div>
          <div class="journal-headers">RRR:</div>
          {{row.rrr}}
        </div>
      </div>
      <div class="trade-edit">
        <form action="/edit" method="POST">
          <input type="hidden" name="edit" value="{{row.trade_id}}" />
          <button class="journal-button btn btn-secondary" type="submit">
            EDIT
          </button>
        </form>
      </div>

      <div class="trade-delete">
        <form action="/journal" method="POST">
          <input type="hidden" name="delete" value="{{row.trade_id}}" />
          <button class="journal-button btn btn-secondary" type="submit">
            DELETE
          </button>
        </form>
      </div>

      <div class="trade-images">
        <form action="/trade-images" method="POST">
          <input type="hidden" name="images" value="{{row.trade_id}}" />
          <button type="submit" class="btn btn-secondary images-button">
            Trade Images
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<form action="/journal" method="POST" class="page-selector">
  <select class="form-control" name="page_number">
    {% for i in range(journal_pages + 1)%}
    <option>{{i + 1}}</option>
    {% endfor %}
  </select>
  <button class="btn btn-secondary" type="submit">submit</button>
</form>

<h1 class="show-table-header">Show Table Data</h1>
<form class="show-table-form form-group" action="/tables" method="POST">
  <select class="form-control" name="table_choice" id="sel1">
    <option>Session Entry</option>
    <option>Session Exit</option>
    <option>Reason For Loss</option>
    <option>Pairs</option>
    <option>Direction</option>
    <option>Trend</option>
    <option>Strategy</option>
    <option>Day</option>
    <option>Entry Type</option>
  </select>
  <button class="btn-secondary btn" type="submit">SELECT</button>
</form>

<button id="back-to-top" class="btn btn-secondary" onclick="topFunction()">
  Back To Top
</button>
<script>
  // Get the button:
  let mybutton = document.getElementById("back-to-top");

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
{% endblock %}
